In [1]:
import numpy as np
import pandas as pd

In [2]:
gradebook = pd.DataFrame({'studentID' : np.arange(1,101),
                        'CourseID' : ['DS' for i in range(100)],
                        'Marks1' : np.random.randint(70,100,size=100),
                        'Marks2' : np.random.randint(65,100,size=100),
                        'Marks3' : np.random.randint(80,100,size=100),
                        'Marks4' : np.random.randint(75,100,size=100)})

#print(gradebook)

# a) Average marks in every assessment for all students

#print(gradebook[["Marks1","Marks2","Marks3",'Marks4']].mean(axis=0))
print(gradebook[["Marks1","Marks2","Marks3",'Marks4']].apply(np.mean,axis=0))

# b) Average marks for every students across all assessment 

#gradebook[["Marks1","Marks2","Marks3",'Marks4']].mean(axis=1)
print(gradebook[["Marks1","Marks2","Marks3",'Marks4']].apply(np.mean,axis=1))

Marks1    86.26
Marks2    82.77
Marks3    89.33
Marks4    87.11
dtype: float64
0     88.00
1     89.25
2     85.50
3     89.00
4     89.75
5     95.50
6     85.75
7     85.50
8     86.75
9     88.00
10    88.25
11    80.25
12    88.50
13    88.25
14    85.25
15    83.25
16    88.75
17    81.25
18    90.50
19    83.00
20    80.75
21    80.50
22    91.50
23    85.75
24    92.25
25    82.00
26    84.25
27    82.25
28    89.25
29    85.00
      ...
70    85.00
71    80.50
72    91.75
73    88.25
74    85.25
75    82.00
76    89.25
77    89.75
78    89.25
79    88.25
80    89.75
81    87.25
82    93.75
83    87.00
84    90.00
85    77.75
86    90.50
87    86.25
88    83.25
89    80.25
90    76.50
91    82.50
92    87.25
93    85.75
94    82.75
95    83.50
96    88.00
97    82.50
98    88.00
99    81.50
Length: 100, dtype: float64

In [32]:
df = pd.DataFrame({'StudentID': ['a', 'b', 'c', 'd'],
                   'Name': ['Rishikesh', 'Ranajay', 
                                  'Halappa', 'Srikanth'],
                         'Marks1':[12, 10, 3, 6],
                         'Marks2':[120, 100, 30, 60]})

#Average marks of every student accross all the assessments
print(df[["Marks1","Marks2"]].apply(np.mean,axis=1))
print(df[["Marks1","Marks2"]].mean(axis=1))
#Average marks of all the students for every assessment
#print(df[["Marks1","Marks2"]].apply(np.mean,axis=0))
print(df[["Marks1","Marks2"]].mean(axis=0))

0    66.0
1    55.0
2    16.5
3    33.0
dtype: float64
0    66.0
1    55.0
2    16.5
3    33.0
dtype: float64
Marks1     7.75
Marks2    77.50
dtype: float64

In [11]:
(np.random.randint(1,100,size=100)).shape

(100,)

In [7]:
s = itr.repeat('DS', 100)
print(s)

repeat('DS', 100)