# Store CaeStudy

In [1]:
import numpy as np
import pandas as pd

In [3]:
store = pd.read_csv("Store.csv",encoding = "latin")

In [4]:
store.shape

(9994, 21)

In [5]:
(store.dropna(axis=0)).shape

(9994, 21)

1)	How many unique cities are the orders being delivered to
-----------

In [23]:
len(store.City.unique())

531

2)	What is the total quantity sold in the East Region?
------------

In [25]:
store[['Quantity']][store.Region == 'East'].count()

Quantity    2848
dtype: int64

3)	Find the sum of the quantity sold in the East Region
------

In [26]:
store[['Quantity']][store.Region == 'East'].sum()

Quantity    10618
dtype: int64

4)	In the south region sort the sales in decreasing order
-------------------

In [30]:
store[['Sales']][store.Region == 'South'].sort_values(by = 'Sales',ascending = False)

          Sales
2697  22638.480
8488   8749.950
683    7999.980
509    6354.950
4297   4367.896
9639   4297.644
3280   4164.050
7583   3499.930
4093   3080.000
1454   3040.000
5562   2999.950
8312   2939.930
8236   2803.920
994    2715.930
2848   2690.970
4128   2624.985
7474   2573.820
3580   2430.080
5320   2314.116
5300   2275.500
4881   2249.910
1155   2244.480
8699   2239.936
8680   2104.550
5301   1979.700
8993   1875.258
7846   1871.880
1433   1819.860
5185   1801.632
9033   1793.980
...         ...
3381      2.896
8850      2.892
865       2.890
3589      2.880
7573      2.840
7805      2.816
2217      2.816
2120      2.808
4155      2.808
4300      2.784
5893      2.780
2665      2.742
506       2.740
3687      2.694
8207      2.624
8579      2.610
4913      2.508
8215      2.469
2779      2.376
4878      2.214
5440      2.064
3769      1.984
7311      1.872
5479      1.869
4005      1.780
8317      1.752
7900      1.584
6597      1.365
9382      1.344
2605      1.167

[1620 rows x 1 columns]

5)	Find the mean of quantity for every region
-----------------

In [33]:
store.groupby('Region').agg({'Quantity' : np.mean})

         Quantity
Region
Central  3.779595
East     3.728230
South    3.832716
West     3.829535

6)	Find the mean of sales for every category
-----------------

In [40]:
store.groupby('Category').agg({'Sales' : np.mean})

                      Sales
Category
Furniture        349.834887
Office Supplies  119.324101
Technology       452.709276

7)	Find the max, min, sum of sales and profit for every category
--------------------

In [42]:
store.groupby('Category').agg({'Sales' : ['max','min','sum'],
                              'Profit' : ['max','min','sum']})

                     Sales                        Profit             \
                       max    min          sum       max        min
Category
Furniture         4416.174  1.892  741999.7953  1013.127 -1862.3124
Office Supplies   9892.740  0.444  719047.0320  4946.370 -3701.8928
Technology       22638.480  0.990  836154.0330  8399.976 -6599.9780


                         sum
Category
Furniture         18451.2728
Office Supplies  122490.8008
Technology       145454.9481

8)	Find sum of sales and max profit for every segment
------------------

In [43]:
store.groupby('Segment').agg({'Sales' : np.sum,
                             'Profit' : np.max})

                    Sales     Profit
Segment
Consumer     1.161401e+06  6719.9808
Corporate    7.061464e+05  8399.9760
Home Office  4.296531e+05  3919.9888

9)	For every segment find the mean of the discount
---------------------------------

In [44]:
store.groupby('Segment').agg({'Discount' : np.mean})

             Discount
Segment
Consumer     0.158141
Corporate    0.158228
Home Office  0.147128

10)	For every segment find the most profitable customers
-----------------

In [97]:
store.groupby(['Segment','Customer ID']).agg({'Profit' : sum}).\
sort_values(by = 'Profit',ascending = False).groupby('Segment').head(1)

                            Profit
Segment     Customer ID
Corporate   TC-20980     8981.3239
Consumer    RB-19360     6976.0959
Home Office TA-21385     4703.7883

11)	What are the top 5 sub-categories that give maximum profit?
----------------

In [102]:
store.groupby('Sub-Category').agg({'Profit' : sum}).sort_values(by = 'Profit',ascending = False).head(5)

                  Profit
Sub-Category
Copiers       55617.8249
Phones        44515.7306
Accessories   41936.6357
Paper         34053.5693
Binders       30221.7633

12)	What is the Total Sales, Quantity, Discount, Profit across Total US.
--------------

In [103]:
store.agg({'Sales' : sum,
          'Quantity' : sum,
          'Discount' : sum,
          'Profit' : sum})

Sales       2.297201e+06
Quantity    3.787300e+04
Discount    1.561090e+03
Profit      2.863970e+05
dtype: float64

13)	How many times has it taken more than 5 days from placing an order to shipping
-------------

In [154]:
store['Ship Date'] = pd.to_datetime(store['Ship Date'])
store['Order Date'] = pd.to_datetime(store['Order Date'])

store['duration'] = store['Ship Date'] - store['Order Date']

store[['duration']][store.duration > '5 days'].count()

duration    1822
dtype: int64

14)	Find the total number of orders in every category which has been shipped with a duration > 5 days
-------------

In [157]:
a = store[['duration','Category']][store.duration > '5 days'].groupby('Category').count()
a.columns = ['Count']
a

                 Count
Category
Furniture          365
Office Supplies   1131
Technology         326

15)	What’s the percentage of items which has been shipped within 5 days
------------------

In [179]:
p = store[['duration']][store.duration <= '5 days'].count()
t = store[['Row ID']].count()

(int(p)/int(t))*100

81.76906143686212

16)	What’s the percentage of items which has been shipped after 5 days
------------

In [181]:
m = store[['duration']][store.duration > '5 days'].count()
t = store[['Row ID']].count()

(int(m)/int(t))*100

18.230938563137883